/* classes */
:root {
    /* --background: #bed6a6; */
    --main: #F1F7E7;
    --cards: #e86850;
    --button: #e86850;
    /* --border: #e18d75; */
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Tommy";
    src: url("../fonts/Tommy-Medium.otf");
}

body {

    /* background-color: var(--background); */
    background-image: url("../Baummuster-01.png");
    font-family: 'Roboto';
    width: 800px;
    margin: auto;
    margin-top: 20px;
    display: block;
    align-items: center;
    text-align: center;

}

#box {

    background-color: var(--main);
    padding: 30px;
    /* border-radius: 15px; */
    border-width: 5px;
    /* border-style: double; */
    border-color: var(--border);
    font-family: 'Roboto';
    box-shadow: 0 4px 8px #00000053;
}

h1 {
    text-align: center;
    font-family: 'Tommy';
    /* font-size: 30px; */
    color: #323232;
}

table {

    display: flex;
    justify-content: center;
    padding: 10px 50px 10px 50px;

}

p {

    font-size: 17px;

}



td {

    /* margin: 10px; */
    padding: 20px 15px 30px 15px;

    /*border: 1px solid black; */

}

.middle {

    width: 200px;
    /* padding: 50px 10px 50px 10px; */

}


button {
    background-color: var(--button);
    border: none;
    color: white;
    padding: 12px 32px;
    /* border-radius: 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /* margin-top: 170px; */
    font-family: 'Roboto';
    box-shadow: 0 4px 8px #00000022;
    /* position: relative; */
    justify-content: center;
    cursor: pointer;
}

div {

    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.buttAudio {
    border: 0;
    padding: 0px;
    margin: auto;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 37px 0 37px 60px;
    box-shadow: none;
    scale: 0.7;
}

.buttAudio.playing {
    border-style: double;
    border-width: 0px 0 0px 60px;
}

.buttAudio:hover {
    border-color: transparent transparent transparent #404040;
}

.selAudio {

    margin: 0px -10px;
    padding: 4px 11px;
    scale: 0.85;

}

img {
    /* border-radius: 12px; */
    cursor: pointer;
    box-shadow: 0 4px 8px #00000053;
    border-top: 2px solid var(--button);
    border-left: 2px solid var(--button);
    border-right: 2px solid var(--button);

}

/* img.picked {

    scale: 1.1;

} */

.pickedParent {

    margin: -3px;
    border: 3px solid #86d78a;

}

.falseParent {

    margin: -3px;
    border: 3px solid red;

}

.done {
    /* display: none; */
    opacity: 0.0;

}

#hideTest {

    display: none;

}

#feedbackMsg {

    padding: 0px;
    font-size: 14px;

}

.subText {

    margin-top: -3px;
    font-size: 13px;
    box-shadow: 0 4px 8px #00000053;
    background-color: white;
    border-bottom: 2px solid var(--button);
    border-left: 2px solid var(--button);
    border-right: 2px solid var(--button);


}